<link rel="stylesheet" href="/css/messagesend.css">
</head>
<div class="frame">
	
	<input type="checkbox" id="btn" />
	<label for="btn" class="btn">Send Mail</label>
	<label for="btn" class="btn rest-btn">Reset</label>
	
	<div class="circle"></div>
	<svg class="icon mail">
		<polyline points="119,1 119,69 1,69 1,1"></polyline>
		<polyline points="119,1 60,45 1,1 119,1"></polyline>
	</svg>
	<svg class="icon plane">
		<polyline points="119,1 1,59 106,80 119,1"></polyline>
		<polyline points="119,1 40,67 43,105 69,73"></polyline>
	</svg>

</div>
</html>