@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	background: #171717;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn {
	background: #EDEDED;
	color: #171717;
	width: 200px;
	text-align: center;
	padding: 10px 5px;
	border-radius: 50px;
	font-weight: 600;
	font-size: 18px;
	position: absolute;
	bottom: 78px;
	cursor: pointer;
	transition: all .5s ease;
	z-index: 6;
	
	&:hover {
		background: #DA0037;	
		color: #EDEDED;
	}
	
}

input[type="checkbox"] {
	display: none;
}

.rest-btn {
	opacity: 0;
	z-index: 5;
}

.circle {
	width: 200px;
	height: 200px;
	background: #444;
	border-radius: 50%;
	position: absolute;
	top: 55px;
	
	&::before{
		content: '';
		width: 200px;
		height: 200px;
		background: none;
		border: 3px solid #444;
		top: -3px;
		left: -3px;
	}
	
}

.icon {
	position: absolute;
	z-index: 2;
	top: 120px;
	left: 140px;
	transform: translate(0,0);
	fill: none;
	stroke-width: 2px;
	stroke: #EDEDED;
	stroke-linecap: square;
	stroke-dasharray: 325 325;
	
	&.mail {
		width: 120px;
		height: 70px;
		stroke-dashoffset: 0;
	}
	
	&.plane {
		width: 120px;
		height: 110px;	
		stroke-dashoffset: 325;
	}
	
}

#btn:checked ~ .btn {
	animation: button 1.5s ease-in-out 1.7s;
	animation-fill-mode: both;
}
#btn:checked ~ .rest-btn {
	animation: reset 1s ease-in-out 3.7s;
	animation-fill-mode: both;
}

#btn:checked ~ .circle {
	animation: circle 1s ease-in-out;
	animation-fill-mode: both;
}

#btn:checked ~ .circle::before {
	animation: circle .8s ease-in-out .2s;
	animation-fill-mode: both;
}

#btn:checked ~ .mail {
	stroke-dashoffset: 326;
	transition: stroke-dashoffset 1s ease-in-out;
}

#btn:checked ~ .plane {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s ease-in-out .6s;
	animation: fly 2.4s ease-in-out;
	animation-fill-mode: both;
}

@keyframes fly {
	0%, 50% {
		transform: translate(0,0) scale(1);
	}
	60% {
		transform: translate(-10px,5px) scale(1.05);
	}
	70% {
		opacity: 1;
	}
	85% {
		opacity: 0;
	}
	100% {
		transform: translate(300px,-150px) scale(0.4);
		opacity: 0;
	}
}

@keyframes circle {
	0% {
		transform: translate(0,0) scale(1);
	}
	20% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes button {
	0% {
		transform: scale(1);
	}
	30% {
		background: #DA0037;
		color: transparent;
		width: 200px;
		left: 100px;
	}
	50%,60% {
		width: 40px;
		left: 180px;
		transform: scale(1);
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		width: 40px;
		left: 180px;
		background: #DA0037;
		color: transparent;
		transform: scale(0);
	}
}

@keyframes reset {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
